version: '3.0'

services:
  grafana:
    extends:
      file: docker-compose-defaults.yaml
      service: grafana
    container_name: 'grafana-logsapp'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      - GF_TRACING_OPENTELEMETRY_JAEGER_ADDRESS=http://host.docker.internal:14268/api/traces
      - GF_TRACING_OPENTELEMETRY_JAEGER_PROPAGATION=jaeger,w3c
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=grafana-lokiexplore-app,grafana-metricsdrilldown-app,grafana-exploretraces-app
    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana}
        grafana_version: ${GRAFANA_VERSION:-main}
    volumes:
      - ./dist:/var/lib/grafana/plugins/grafana-lokiexplore-app
      - ./provisioning-all:/etc/grafana/provisioning
      - ../metrics-drilldown/dist:/var/lib/grafana/plugins/grafana-metricsdrilldown-app
      - ../traces-drilldown/dist:/var/lib/grafana/plugins/grafana-exploretraces-app
  loki:
    image: grafana/loki:3.6
    environment:
      LOG_CLUSTER_DEPTH: '8'
      LOG_SIM_TH: '0.3'
    ports:
      - '3100:3100'
    volumes:
      - ./config/loki-config.yaml:/etc/loki/local-config.yaml
      - ./config/loki-overrides.yaml:/etc/loki/overrides.yaml
    command:
      - -config.file=/etc/loki/local-config.yaml
      - -runtime-config.file=/etc/loki/overrides.yaml
    restart: on-failure
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  generator:
    build:
      context: ./generator
    command: -url http://loki:3100/loki/api/v1/push -tenant-id=1
    environment:
      - OTLP_ENDPOINT=http://loki:3100/otlp
  alloy:
    image: grafana/alloy:latest@sha256:85e4a706181741dd735d9a69bea81f9e03e16d5349bff46dd9640379f143c007
    environment:
      - AGENT_MODE=flow
    command:
      ['run', '--server.http.listen-addr=0.0.0.0:12345', '--stability.level=public-preview', '/etc/alloy/config.alloy']
    volumes:
      - ./config/config.river:/etc/alloy/config.alloy
    ports:
      - '12345:12345'
      - '12347:12347'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  tempo:
    image: grafana/tempo:2.6.0@sha256:f55a8a1937fff0af3a760d376b476c8327fb30e432d5e7630d7938b67691e822
    command: -config.file=/etc/tempo.yaml
    volumes:
      - ./config/tempo.yaml:/etc/tempo.yaml
    ports:
      - '14268:14268' # jaeger ingest
      - '3200:3200' # tempo
      - '4317:4317' # otlp grpc
      - '4318:4318' # otlp http
  prometheus:
    image: prom/prometheus:v2.54.1@sha256:f6639335d34a77d9d9db382b92eeb7fc00934be8eae81dbc03b31cfe90411a94
    ports:
      - '9090:9090'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command: >
      --enable-feature=remote-write-receiver
      --enable-feature=exemplar-storage
      --enable-feature=native-histograms
      --config.file=/etc/prometheus/prometheus.yml
      --storage.tsdb.path=/prometheus
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus/prometheus.yml
