version: '3.0'
# Assumes you are running loki and the generator locally
services:
  grafana:
    extends:
      file: docker-compose-defaults.yaml
      service: grafana
    container_name: 'grafana-logsapp'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana}
