name: Plugins Platform - CI / CD

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  cd:
    name: CI / CD
    uses: grafana/plugin-ci-workflows/.github/workflows/cd.yml@ci-cd-workflows/v4.0.0 # ci-cd-workflows/v4.0.0
    permissions:
      contents: write
      id-token: write
      attestations: write
    with:
      # Checkout/build PR or main branch, depending on event
      branch: ${{ github.event_name == 'push' && github.ref_name || github.ref }}

      # When pushing to "main", publish and deploy to "dev" and "ops" (CD). For PRs, skip publishing and deploying (run CI only)
      environment: ${{ (github.event_name == 'push' && github.ref_name == 'main') && 'dev,ops' || 'none' }}

      # Deploy provisioned plugin to Grafana Cloud
      grafana-cloud-deployment-type: provisioned
      auto-merge-environments: dev,ops
      argo-workflow-slack-channel: '#drilldown-cd-alerts-dev-ops'

      # Add the git head ref sha to the plugin version as suffix (`+abcdef`). This is required for CD builds.
      plugin-version-suffix: ${{ github.event_name == 'push' && github.sha || github.event.pull_request.head.sha }}

      # Same settings as publish
      run-playwright-with-skip-grafana-dev-image: true
      run-playwright-with-grafana-dependency: '>=11.6'
      upload-playwright-artifacts: true
      playwright-docker-compose-file: docker-compose.dev.yaml
      playwright-grafana-url: http://localhost:3001/grafana

      # TODO remove this eventually. Explicitly set Node.js version to 22 to ensure compatibility with yargs@18.0.0
      node-version: '22'

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      plugin-id: ${{ steps.metadata.outputs.plugin-id }}
      plugin-version: ${{ steps.metadata.outputs.plugin-version }}
      has-e2e: ${{ steps.check-for-e2e.outputs.has-e2e }}
      has-backend: ${{ steps.check-for-backend.outputs.has-backend }}
    env:
      GRAFANA_ACCESS_POLICY_TOKEN: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Check types
        run: yarn typecheck
      - name: Lint
        run: yarn lint
      - name: Unit tests
        run: yarn test:ci
      - name: Build frontend
        run: yarn build
      - name: Check for E2E
        id: check-for-e2e
        run: |
          if [ -f "playwright.config.ts" ]
          then
            echo "has-e2e=true" >> $GITHUB_OUTPUT
          fi
  playwright-tests:
    needs: [build]
    timeout-minutes: 20
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    name: e2e test main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install dev dependencies
        run: yarn install --frozen-lockfile

      - name: Start Grafana
        run: |
          docker compose -f docker-compose.dev.yaml pull
          ANONYMOUS_AUTH_ENABLED=true DEVELOPMENT=false GRAFANA_VERSION=12.4.0-20862064120 GRAFANA_IMAGE=grafana-dev docker compose -f docker-compose.dev.yaml up -d

      - name: Wait for grafana server
        uses: grafana/plugin-actions/wait-for-grafana@wait-for-grafana/v1.0.2
        with:
          url: http://localhost:3001/grafana

      - name: Install Playwright Browsers
        run: yarn playwright install chromium --with-deps

      - name: Run Playwright tests
        id: run-tests
        run: yarn e2e:ci
        env:
          GRAFANA_URL: http://localhost:3001/grafana

      - name: Upload e2e test summary
        uses: grafana/plugin-actions/playwright-gh-pages/upload-report-artifacts@upload-report-artifacts/v1.0.1
        if: ${{ always() && !cancelled() }}
        with:
          upload-report: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          test-outcome: ${{ steps.run-tests.outcome }}

      - name: Docker logs
        if: ${{ always() && steps.run-tests.outcome == 'failure' }}
        run: |
          docker logs grafana-logs-lib >& grafana-server.log

      - name: Stop grafana docker
        run: docker compose -f docker-compose.dev.yaml down

      - name: Upload server log
        uses: actions/upload-artifact@v4
        if: ${{ always() && steps.run-tests.outcome == 'failure' }}
        with:
          name: ${{ matrix.GRAFANA_IMAGE.NAME }}-v${{ matrix.GRAFANA_IMAGE.VERSION }}-${{github.run_id}}-server-log
          path: grafana-server.log
          retention-days: 5

  publish-report:
    if: ${{ always() && !cancelled() }}
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    needs: [playwright-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # required for playwright-gh-pages
          persist-credentials: true
      - name: Publish report
        uses: grafana/plugin-actions/playwright-gh-pages/deploy-report-pages@deploy-report-pages/v1.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
